<!DOCTYPE html>
<html lang="zh-Hans-CN">
    <head>
        <meta charset="utf-8">
        <meta name="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/Apollo/css/apollo.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/atelier-sulphurpool-light.min.css" rel="stylesheet">
        {% if page_info.title=="index" %}{% set title=system_config.Project_Name %}{% else %}{% set title=page_info.title %}{% endif %}<title>{{ title }}</title>
        {% if page_info.title=="index" %}{% set description=system_config.Project_Description %}{% else %}{% set description=page_info.excerpt %}{% endif %}<meta name="description" content="{{ description }}">{% if now_page!=page_row and page_row !=1 %}
        <link rel="next" href="/index/p/{{ now_page + 1 }}{% if static %}.html{% endif %}">{% endif %}
        {% include "include/head.html" ignore missing %}
    </head>
    <body>
    <div class="wrap">
        <header>
            <a href="/" class="logo-link"><img src="{{ system_config.Author_Image }}" alt="{{ system_config.Author_Name }}"></a>
            <ul class="nav nav-list" id="nav-list">
                <li class="nav-list-item"><a href="/" target="_self" class="nav-list-link">BLOG</a></li>{% for item in menu_list %}
                <li class="nav-list-item"><a href="{% if "absolute" not in item %}/{% elif not item.absolute %}/{% endif %}{{ item.name }}{% if static %}.html{% endif %}" target="_self" class="nav-list-link">{{ item.title }}</a></li>{% endfor %}
                <li class="nav-list-item"><a href="/rss" target="_self" class="nav-list-link">RSS</a></li>
            </ul>
        </header>
        <main class="container">
